<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <% @album_info.each do |album| %>
    <div>Title: <a href="/albums/<%= album[2] %>"><%= album[0] %></a> ... Release year: <%= album[1] %></div>
    <% end %>
  </body>
</html>

