<html>
  <head></head>
  <body>
    <h1><%= @title %></h1>
    <p>
    Release year: <%= @release_year %>
    </p>
    <p>
    Artist: <%= @artist %>
    </p>
    <p><a href="./">HOME</a></p>
  </body>
</html>