<form method="POST" action="/artists/new">
<label for="name">New artist name: </label>
<input type="text" name="name" /><br><br>
<label for="genre">New artist genre: </label>
<input type="text" name="genre" /><br><br>
<input type="submit">
</form>