<form method="POST" action="/albums/new">
  <label for="title">Album name: </label>
  <input type="text" name="title" /><br><br>
  <label for="artist">Artist name: </label>
  <input type="text" name="artist" /><br><br>
  <label for="release_year">Release year: </label>
  <input type="text" name="release_year" /><br><br>
  <input type="submit" />
</form>